mybatis:
  mapper-locations-custom: classpath*:mapper/**/*.xml
  configuration:
    default-fetch-size: 100
    default-statement-timeout: 300
    map-underscore-to-camel-case: true

master:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://58.87.83.245:61288/banking?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&autoReconnect=true&failOverReadOnly=false&useSSL=false&zeroDateTimeBehavior=convertToNull&serverTimezone=Asia/Shanghai
    username: root
    password: stock@123456
    initialSize: 100
    minIdle: 10
    maxActive: 1000
    maxWait: 60000
    minEvictableIdleTimeMillis: 300000
    timeBetweenEvictionRunsMillis: 3600000
    removeAbandoned: true
    removeAbandonedTimeout: 180
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 50
    logAbandoned: true
    filters: config,stat
    validationQuery: SELECT 1
    testOnBorrow: false
    testOnReturn: false
    testWhileIdle: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000