mybatis:
  mapper-locations-custom: classpath*:mapper/**/*.xml
  configuration:
    default-fetch-size: 100
    default-statement-timeout: 300
    map-underscore-to-camel-case: true

master:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: org.sqlite.JDBC
#    url: jdbc:sqlite::resource:db/fund.db
    url: jdbc:sqlite:db/fund.db
    username:
    password:
    filters: stat
    initialSize: 2
    maxActive: 300
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: false